@import "../../styles/utilities.scss";

.projects{
  font-size: 3rem;
  font-family: $font-family-1;
  padding: 14vw 12vw;
  
  &__title {
    display: flex;
    justify-content: center;
    &-1{
        display: flex;
        justify-content: center;
        font-size: 4rem;
        color: $main-color-3;
        font-family: $font-family-4;
        padding-bottom: 8vw;
    }
}
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

    > * {
        flex: 1 1 calc(50% - 10px);
        margin-bottom: 7vw;
    }
  }

  @media (max-width : 790px ) {

    .projects__title-1{
        font-size: 2.2rem;
        padding-bottom: 14vw;
    }
    .projects-grid {
        > * {
            flex: 1 calc(100%);
            margin-bottom: 14vw;
        }
      }
  }

  @media (min-width : $large-screen-breakpoint) {

    .projects__title-1{
        font-size: 3vw;
    }
  }

  @media (min-width : $mobile-breakpoint) and (max-width : 900px ) {

    .projects__title-1{
        font-size: 2.5rem;
    }
  }

  @media (max-width : $mobile-breakpoint) {

    .projects__title-1{
        font-size: 1.8rem;
    }
  }



  