@import "../../styles/utilities.scss";


.flip_container-1{
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: center;
}





/****  FLIP  ****/
.flip-card {
  perspective: 1000px;
  width: $card-width;
  height: $card-height;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/*** FLIPPED ***/ 

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: $card-height;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 19px;
  padding: 1px;
  box-shadow: 0 10px 20px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  @include card-border-color;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/**** FRONT CONTENT ****/
.card { 
  border-radius: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: $font-family-1;
  @include card-background;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    
    &__description{
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
  
      &-links{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 6% 0 0 6%;
       

        &-border{
          display: flex;
          gap: 3px;

        }

        &-btn{


              &-icon{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: $links-color;
                padding: 10px;
                font-size: 2.5rem;
                cursor: pointer;
                border: 2px solid transparent; 
                border-radius: 50%; 
                transition: border-color 0.3s ease;
                &:hover{
                  border: 2px solid $accent-color-2; 
                }
              }
          }
      }
      &-content{
        padding: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      
          &-title{
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          font-family: $font-family-5;
          color: $card-text-color-1;
          width: 100%;
          padding-right: 4%;

          }
      }
    }
    &__picture {
      display: flex;
      width: 50%;
    &-container {
      position: relative;
      height: 80%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-self: flex-end;
      text-align: end;
    }
    &-img{
      width: 100%; 
      height: 100%; 
      object-fit: cover; 
      object-position: left; 
      border-top-left-radius: 30px;
      border-bottom-right-radius: 20px;
    }
    &-overlay{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2); 
      border-top-left-radius: 30px;
      border-bottom-right-radius: 20px;
    }
  }
}


.card__description-tags{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 5% 5%;
  justify-content: flex-start;
}

.tag{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding-right: 5%;
    }

.tag-item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
    background-color: $tags-color;
    font-family: $font-family-4;
    color: $tags-text-color;
    width: 80px;
    height: 30px;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
}

.flip-button {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 18px;
  cursor: pointer;
  &-icon{
    font-size: 1.5rem;
    color: $main-color-2;
  }
}



/*** BACK CONTENT***/

.flip-card-back{
  @include card-border-color;
}


.card-content-back{
  @include card-background;
}

.card__description-content{
  &-titleback{
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 20px;
    font-family: $font-family-5;
    color: $card-text-color-1;
    width: 100%;
  }
  &-textback{
    display: flex;
    justify-content: flex-start;
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-family: $font-family-3;
    color: $card-text-color-2;
    width: 100%;
    white-space: nowrap;

  }
  &-description{
    font-size: 0.6rem;
    color: $card-text-color-2;
  }
}

.card__back-right{
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  &-text{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 5%;
    display: flex;
    align-content: flex-end;

    &-p{
      font-family: $font-family-5;
      font-size: 1.2rem;
      color: $card-text-color-2;
      padding: 5%;
      text-align: left;
      border-left: 2px solid $main-color-3;
  
    }
  
  }

}

.flip-button-div{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-self: flex-end;
  width: 100%;
  height: auto;

}

.flip-button-back{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-self: flex-end;
  width: 50px;
  padding: 10px;
  background-color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  &-icon{
    font-size: 1.5rem;
  }
}


/*********************************************/

@media ( min-width : $large-screen-breakpoint ) {

  .card__description{
    &-links-btn-icon{
      font-size: 4rem;
    }
    &-content-title{
      font-size: 2.3rem;
    }
  }

  .tag{
    gap: 5%;
    padding-right: 5%;
  }
  .tag-item{
    font-size: 1.1rem;
    width: 117px;
    height: 41px;
  }

  .card__description-content{
    &-titleback{
      font-size: 2.3rem;
    }
    &-textback{
      font-size: 1.7rem;
    }
  }

  .card__back-right-text-p{
    font-size: 1.3rem;
  }
}



@media (min-width : 1550px) and ( max-width : 1800px ){

  .tag-item{
    font-size: 0.8rem;
  }

  .card__back-right-text-p{
    font-size: 1rem;
  }
  .card__description-content{
    &-title{
      padding-bottom: 0;
    }
    &-titleback{
      padding-bottom: 0;
    }
  }
  .tag{
    gap: 5%;
    padding-right: 5%;
  }


}

@media  (min-width : 1300px ) and ( max-width : 1550px ){

  .card__description{
    &-links-btn-icon{
      font-size: 2rem;
    }
    &-content-title{
      font-size: 1.4rem;
    }
  }
  .tag-item{
    font-size: 0.7rem;
 
  }

  .card__description-content{
    &-titleback{
      font-size: 1.4rem;

    }
    &-textback{
      font-size: 1rem;
    }
  }

  .card__back-right-text-p{
    font-size: 0.8rem;
  }
}

@media (min-width : 1100px) and ( max-width : 1300px ){

  .card__description{
    &-links-btn-icon{
      font-size: 1.8rem;
    }
    &-content-title{
      font-size: 1.2rem;
    }
  }
  .tag-item{
    font-size: 0.6rem;
 
  }

  .card__description-content{
    padding: 0 0 6% 6%;
    &-titleback{
      font-size: 1.2rem;
      padding-bottom: 5%;

    }
    &-textback{
      font-size: 0.8rem;
    }
  }

  .tag{
    gap: 4%;
  }

  .tag-item{
    width: 63px;
    height: 22px;
    border-radius: 7px;
  }

  .card__back-right-text-p{
    font-size: 0.7rem;
  }
}

@media (min-width : 980px) and ( max-width : 1100px ){

  .card__description{
    &-links-btn-icon{
      font-size: 1.6rem;
    }
    &-content{
      padding:  0 0 6% 13%;
    
    &-title{
      font-size: 0.9rem;
    }
  }
    &-tags{
      padding: 2% 0 9% 11%;
    }
  }

  .tag{
    gap: 5%;
  }
  .tag-item{
    font-size: 0.6rem;
    width: 55px;
    height: 20px;
    border-radius: 4px;
 
  }
  .flip-button{
    width : 30px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 13px;
    &-icon{
      font-size: 0.8rem ;
    }
  }

  .card__description-content{
    &-titleback{
      font-size: 1rem;
      padding-bottom: 0;

    }
    &-textback{
      font-size: 0.6rem;
      padding-bottom: 5px;
    }
  }

  .card__back-right-text-p{
    font-size: 0.6rem;
  }

  .flip-button-back{

    &-icon{
      font-size: 0.8rem;
    }
  }
}

@media (min-width : 790px) and ( max-width : 980px ){

  .card__description{
    &-links-btn-icon{
      font-size: 1.3rem;
    }
    &-content-title{
      font-size: 0.8rem;
      padding-bottom: 0;
    }
  }
  .tag-item{
    font-size: 0.4rem;
 
  }

  .card__description-content{
    padding-bottom: 5px;
    &-titleback{
      font-size: 0.8rem;
      padding-bottom: 5px;
    }
}
.flip-button {
  width: 30px;
  height: 30px;
  &-icon{
    font-size: 0.8rem;
  }
}

.flip-button-back{
  width: 50px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  &-icon{
    font-size: 0.8rem;
  }
}

.tag{
  gap: 5%;
  padding-left: 7%;
  padding-top: 5%;
}

.tag-item{
  width: 45px;
  height: 15px;
  border-radius: 5px;
}



.card__back-right-text-p{
  font-size: 0.5rem;
}
}

@media (max-width: 790px ) {

  .flip-card {
    width: 60vw;
    height: 33vw;
  }
  .flip-card-front,
.flip-card-back {
  height: 33vw;
}

.card__description{
  &-links-btn-icon{
    font-size: 1.7rem;
  }
  &-tags{
    padding: 0 5% 5% 5%;
  }
}

.tag {
  gap: 5%;
}
.tag-item{
  font-size: 0.7rem;
  width: 70px;
  height: 24px;
  border-radius: 6px;

}
.card__description-content{
  &-titleback{
    font-size: 1.3rem;
  }
  &-textback{
    font-size: 0.8rem;
  }
}
.card__back-right-text-p{
  font-size: 0.8rem;
}
.card__description-content-title{
    font-size: 1.4rem;
  }

}

@media (max-width: 690px ) {

  .flip-card {
    width: 75vw;
    height: 40vw;
  }
  .flip-card-front,
.flip-card-back {
  height: 40vw;
}

.card__description{
  &-links-btn-icon{
    font-size: 2rem;
  }
  &-content-title{
    font-size: 1.4rem;
  }
  &-tags{
    padding: 0 5% 5% 5%;
  }
}

.tag {
  gap: 5%;
}
.tag-item{
  font-size: 0.7rem;
  width: 70px;
  height: 24px;
  border-radius: 6px;

}
.card__description-content{
  &-titleback{
    font-size: 1.3rem;
  }
  &-textback{
    font-size: 0.8rem;
  }
}
.card__back-right-text-p{
  font-size: 0.8rem;
}
}

@media (max-width: 540px ) {


.card__description{
  &-links-btn-icon{
    font-size: 1.8rem;
  }
  &-content-title{
    font-size: 1.3rem;
    padding-bottom: 0;
  }
}
.tag{
  gap: 4%;
}
.tag-item{
  font-size: 0.6rem;
  padding: 0;
  width: 57px;
  height: 20px;
  border-radius: 5px;
}
.card__description-content{
  &-titleback{
    font-size: 1.3rem;
    padding-bottom: 2%;
  }
  &-textback{
    font-size: 0.8rem;
    padding-bottom: 2%;
  }
}
.card__back-right-text-p{
  font-size: 0.8rem;
}
}

@media (max-width: 480px ) {

  .flip-card {
    width: 65vw;
    height: 40vw;
    min-width: 280px;
    min-height: 160px;
  }
  .flip-card-front,
.flip-card-back {
  height: 40vw;
  min-height: 170px;
}

  .card__description{
    &-links-btn-icon{
      font-size: 1.6rem;
    }
    &-content{
      padding: 0 0 9% 9%;
      &-title{
      font-size: 0.9rem;
    }
  }
  &-tags{
    padding: 0 0 8% 8% ;
  }
  }

  .tag {
    gap: 8%;
  }
  .tag-item{
    font-size: 0.5rem;
    width: 47px;
    height: 16px;
  
  }

  .flip-button{
    width : 30px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 13px;
    &-icon{
      font-size: 0.8rem ;
    }
  }


  .card__description-content{
    &-titleback{
      font-size: 1.1rem;
      padding-bottom: 2%;
    }
    &-textback{
      font-size: 0.8rem;
      padding-bottom: 2%;
    }
  }
  .card__back-right-text-p{
    font-size: 0.6rem;
  }

  .flip-button-back{

    &-icon{
      font-size: 0.8rem;
    }
  }
  }



  
   

  