@import "../Page/Home.scss";

@import "../Components/Banner/Banner.scss";
@import "../Components/Navbar/Navbar.scss";
@import "../Components/Navbar/NavItems.scss";
@import "../Components/Presentation/Presentation.scss";
@import "../Components/Projects/Projects.scss";
@import "../Components/ProjectCard/ProjectCard.scss";


* {
    background-color: transparent;
    box-sizing: border-box;
    max-width: 1800px;
}