@import "../Page/Home.scss";

@import "../Components/Banner/Banner.scss";
@import "../Components/Navbar/Navbar.scss";
@import "../Components/Navbar/NavItems.scss";
@import "../Components/Presentation/Presentation.scss";
@import "../Components/Projects/Projects.scss";
@import "../Components/ProjectCard/ProjectCard.scss";
@import "../Components/Contact/Contact.scss";


body {
    background-color: transparent;
    box-sizing: border-box;
    max-width: 2000px;
    min-width: 300px;
    margin: auto;
}

* {
    max-width: 2000px;
    box-sizing: border-box;
}
