// Media Queries
$tab-breakpoint : 768px;
$mobile-breakpoint : 480px;
$large-screen-breakpoint : 2000px;


// Fonts
$title-font-1 : 'EB Garamond', serif;
$font-family-1 : 'Exo 2', sans-serif;
$font-family-2 : 'Poiret One', sans-serif;
$font-family-3 :'Darker Grotesque', sans-serif; 
$font-family-4 : 'Roboto Mono', monospace;
$font-family-5 : 'Rubik', sans-serif;

$big-font : 'Rammetto One', sans-serif;

// Colors
$main-color-1 : #F3EDE2;
$main-color-2 : #1F0A12;
//$main-color-2 : #250902;
$main-color-3 : #EDDAD4;
$main-color-4 : #623030;
$main-color-5 : #2E0F1B;

//$accent-color-1 : #FF6D33;
$accent-color-1 : #FE5F55;
$accent-color-2 : #F1F467;
$accent-color-3 : #A9106E;

$navbar-background-color : #F5F5F5;
$navbar-border-color : #F5F5F5;

$big-title-color-1 : #EDDAD4;
$title-color-1 : #671320;

//Styles : 

$top-color-border-height : 7px;
$side-page-desktop-padding : 0 3%;


// CARDS

$card-width : 30vw;
$card-height : 17vw;

$card-text-color-1 : #F3EDE2;
$card-text-color-2 : #F3EDE2;
$card-text-color-3 : #FE5F55;

$links-color : #1A0E0F;
$tags-color : #EDDAD4;
$tags-text-color: #1F0A12;



@mixin navbar-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}

@mixin style-top-border {
    top: 0;
}

@mixin card-border-color{
//background-color: #cfb68c;
//background-image: linear-gradient(27deg, #cfb68c 19%, #fe5f55 44%, #ffffff 65%, #fe5f55 100%);
background-color: #C9AEB9;
}

@mixin card-back-border-color {
    background-color: #cfb68c;
    background-image: linear-gradient(328deg, #cfb68c 8%, #ef35e3 35%, #fbfaf8 71%, #f98515 98%);
    
}

@mixin card-background{
    background-color: #3e1424;
    background-image: linear-gradient(45deg, #3e1424 32%, #5c1e36 50%, #3e1424 78%);
    
}

@mixin zoom-effect {
    -webkit-transform: scale(1.03); 
    transform: scale(1.03);
    -webkit-transition: transform 0.3s ease; 
    transition: transform 0.3s ease;
}

