@import "../../styles/utilities.scss";


.tools{
    display: flex;
    flex-direction: column;
    padding: 5vw 6vw;

    &__technos {

        &-title {
            color: $main-color-4;
            font-family: $font-family-5;
            font-size: 2.5rem;
            padding-bottom: 60px;
        }
        &-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                margin: 2%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                &-background {
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: center
                }
                &-name {
                    font-size: 1.3vw;
                    color: $main-color-5;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    justify-content: center;
                    font-family: $font-family-4;
                }
            }
        }
    }
}

.tools-icon {
    color: $main-color-5;
    font-size: 6vw;

}

@media (min-width : $large-screen-breakpoint) {
   .tools-icon{
    font-size: 6vw;
   }
   .tools__technos-content-item-name{
    font-size: 1.3vw;
   }
}


@media (min-width : $mobile-breakpoint) and (max-width: $tab-breakpoint ) {

    .tools{
        padding: $side-page-desktop-padding;
        &__technos, &__others {
            padding-bottom: 50px;
    
            &-title {
                font-size: 1.2rem;
                padding-bottom: 20px;
            }
            &-content {
    
                &-item {
                    &-background {

                    }
                    &-name {
                        font-size: 0.8rem;
                        padding-top: 7px;
                    }
                }
            }
        }
    }

}





