@import "../../styles/utilities.scss";


@mixin title-style {
    color: $main-color-3;
    font-family: $big-font;
    font-size: 2.5rem;
    padding-bottom: 60px;
}


@mixin item-background {
    height: 120px;
    width: 120px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 150px 150px, $main-color-2, $main-color-1,);
}


@mixin item-name {
    color: $main-color-1;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    font-family: $font-family-2;
}

.tools{
    display: flex;
    flex-direction: column;
    padding: 6%;

    &__technos, &__others {
        padding-bottom: 150px;

        &-title {
            @include title-style;
        }
        &-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &-item {
                padding: 20px 3%;
                &-background {
                    @include item-background;
                }
                &-name {
                    @include item-name;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.tools-icon {
    color: $main-color-2;
    font-size: 5rem; 
    object-fit: contain;
}


// @media (min-width : $tab-breakpoint) and (max-width: px )




@media (min-width : $mobile-breakpoint) and (max-width: $tab-breakpoint ) {

    .tools{
        padding: $side-page-desktop-padding;
        &__technos, &__others {
            padding-bottom: 50px;
    
            &-title {
                font-size: 1.2rem;
                padding-bottom: 20px;
            }
            &-content {
    
                &-item {
                    padding: 20px;
                    &-background {
                       width: 60px;
                       height: 60px;
                    }
                    &-name {
                        font-size: 0.8rem;
                        padding-top: 7px;
                    }
                }
            }
        }
    }
    
    .tools-icon {
        font-size: 2rem;  

    }
}

@media  (max-width: 530px ) {

    .tools{
        padding: $side-page-desktop-padding;
        &__technos, &__others {
            padding-bottom: 50px;
    
            &-title {
                font-size: 1.1rem;
                padding-bottom: 20px;
            }
            &-content {
    
                &-item {
                    padding: 15px;
                    &-background {
                       width: 55px;
                       height: 55px;
                    }
                    &-name {
                        font-size: 0.6rem;
                        padding-top: 7px;
                    }
                }
            }
        }
    }
    
    .tools-icon {
        font-size: 1.8rem;  

    }
}


