@import "../../styles/utilities.scss";

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
    background-color: transparent;
    font-family: $font-family-2;

    &__mobile {
        display: none; 
      }

    &__desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $navbar-background-color;
        border: 1px $navbar-border-color solid;
        z-index: 2;
        width: 450px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

        &-content{
            display: flex;
            justify-content: space-between;
            width: 90%;
        }
    }
}


@media (min-width: $large-screen-breakpoint) {

  .navbar {
    padding-top: 2rem;

    &__desktop{
        border: 1px $navbar-border-color solid;
        z-index: 2;
        width: 800px;
        height: 80px;

        &-content{
            width: 90%;
        }
    }
}


}


@media (max-width: $tab-breakpoint) {

  .navbar {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;


    &__desktop{
      display: none;
  }
    &__mobile {
        display: flex; 
        flex-direction: column;
        padding-left: 20px;
        &-hamburger{
          background-color: $main-color-1;
          border: 2px solid $accent-color-1;
          border-radius: 50px;
          color: $main-color-2;
          width: 50px;
          height: 50px;
          font-size: 1.5rem;
          z-index: 21;
          cursor: pointer;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          &-icon{

        }
        &:hover{
          @include zoom-effect;
      }
        }
        &-content{
          display: none;
          &.show{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            padding : 120px 20px 0 20px;
            background-color: $main-color-1;
            width: auto;
            height: 100vh;
            border-right: 2px solid $accent-color-1;
            z-index: 20;
          }
        }
      }

}
}


