@import "../../styles/utilities.scss";

.navbar__menu-item-wrapper {
    position: relative;
  }
  
  .navbar__menu-items {
    @include navbar-link;
    color: $main-color-4;
    font-weight: 100;
    font-family: $font-family-5;

  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 2em;
    height: 2em;
    //background-image:linear-gradient(135deg, #C97A48, #812648);
    background: $accent-color-1;
    //box-shadow: 0 0 5px 2px rgba(152, 132, 99, 0.5);
    border-radius: 100vw;
    translate: -0.5em -50%;
    z-index: -2;
  }


  @media (min-width: $large-screen-breakpoint) {
  
  .navbar__menu-items {
    font-size: 3rem;
  }

  .circle {
    width: 60px;
    height: 60px;
    translate: -1.3em -50%;
  }

  }


  @media (max-width: $tab-breakpoint) {

    .navbar__menu-item-wrapper {
      padding-bottom: 20px;
    }
    
    .circle {
      position: absolute;
      top: 30%;
      left: -2px;
      width: 2em;
      height: 2em;
      //background-image:linear-gradient(135deg, #C97A48, #812648);
      background: $accent-color-1;
      //box-shadow: 0 0 5px 2px rgba(152, 132, 99, 0.5);
      border-radius: 100vw;
      translate: -0.5em -50%;
      z-index: -2;
    }

  }
  
  