@import "../../styles/utilities.scss";

.footer {
    background-color: $main-color-5;
    width: 100%;
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
        &-logo{
            width: 7vw;
            padding-top: 3vw;
            display: flex;
            justify-content: center;
        }
        &-link{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 0.2vw;
            &-a{
                color: $accent-color-2;
                cursor: pointer;

                &-linkedin{
                    font-size: 2vw;

                }
            }
        }
        &-text{
            color: $main-color-1;
            font-size: 1vw;
            font-family: $font-family-5;
            padding: 3vw 0;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}


@media (min-width : $mobile-breakpoint) and (max-width : $tab-breakpoint) {
    .footer {
        &__content{
            &-logo{
                width: 17vw;
            }
            &-text{
                font-size: 2vw;
            }
            &-link-a-linkedin{
                font-size: 1rem;
            }
        }
    }
}

@media (max-width : $mobile-breakpoint) {
    .footer {
        &__content{
            &-logo{
                width: 20vw;
            }
            &-text{
                font-size: 3vw;
            }
        }
    }
}