@import "../styles/utilities.scss";

.home {
    &__navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: transparent;
        z-index: 10000;
        }
    &__banner{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        z-index: 1;
        min-width: 300px;
    }
    &__content {
        position: relative;
        z-index: 2;
        margin-top: 100vh;
        background-color: transparent;
    }
    &__presentation {
        background-color: $main-color-1;
        margin-bottom: -220px;
    
        &-border {
            height: $top-color-border-height;
            background: $accent-color-1; 
            width: 100%;
        }
    
        &-fixed-border {
            @include style-top-border;
            position: fixed;
            z-index: 5;
            width: 100vw;
        }
    
        &-trigger-element {
            height: 5px;
            background-color: transparent;
        }
    }
    &__project{
        background-color:#2E0F1B; 
        padding: $side-page-desktop-padding;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        margin-top: 50px;
        @media  (max-width: 1320px) {
            clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
         }
         @media  (max-width: 1310px) {
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
         }
        @media  (max-width: 600px) {
           clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
        }
        &-border {
            height: $top-color-border-height;
            background: $accent-color-2;
            width: 100%;
            z-index: 0;
        }
        &-fixed-border {
            @include style-top-border;
            position: fixed;
            z-index: 10000;
            width: 100vw;
        }
        &-trigger-element {
            height: 1px;
            background-color: transparent;
        }
        
    }
    &__contact{
        background-color: #FFE7D6;
        clip-path: polygon(0% 0%, 56% 0, 71% 48%, 56% 100%, 0% 100%);
        //clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        padding-top: 200px;
        display: flex;
        justify-content: flex-start;
        width: auto;
        &-border {
            height: 3px;
            background: $accent-color-1;
            width: 100%;
            display: none;
        }
        &-fixed-border{
            @include style-top-border;
            width: 100vw;
        }
        &-trigger-element {
            height: 1px;
            background-color: transparent;
        }
    }
    &__div-1{
        background-color: $main-color-1;
    }
}