@import "../../styles/utilities.scss";

.vanta-canvas {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    min-width: 300px;
    margin: auto;
}



.home__banner-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    &-title{
        display: flex;
        width: 100%;
        padding: $side-page-desktop-padding;
        &-h1{
            width: 100%;
            font-family: $title-font-1;
            color: $main-color-2;
            font-size: 4rem;
            font-weight: 600;
            z-index:1;
        }
    }
    &-text{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: $main-color-2;
        font-size: 2rem;
        font-family: $font-family-2;
        padding: $side-page-desktop-padding;
    }
    &-icon {
        text-align: center;
        font-size: 2em;
        position: absolute;
        bottom: 10px; 
        width: 100vw;
        align-items: center;
        color: $main-color-2;
        cursor: pointer;
    }
}

@media (min-width: $large-screen-breakpoint ) {
    .home__banner-content {
        &-title{
            &-h1{
                font-size: 3vw;
            }
        }
        &-text{
            padding-top: 1%;
            font-size: 1.3vw;
        }
    }
}


    
@media (min-width: $mobile-breakpoint ) and (max-width: $tab-breakpoint ) {
    .home__banner-content {
        &-title{
            &-h1{
                font-size: 2.5rem;
            }
        }
        &-text{
            font-size: 1rem;
            padding-top: 0;
            }
        }
}

@media (max-width: $mobile-breakpoint ) {
    .home__banner-content {
        &-title{
            &-h1{
                font-size: 1.8rem;
            }
        }
        &-text{
            font-size: 0.8rem;
            padding-top: 0;
        }
    }
}
